@import "./_variables"
$base-color-light: #f9f9f9
$base-color-dark: #0B0C10
$secondary-color-light: #305A52
$primary-color: #97BED3
$secondary-color-dark: #776A76


body
  margin: 8px 0px
  background-color: $base-color-dark
  color: $base-color-light

.main 
  display: flex
  flex-direction: column    
  justify-content: space-between
  align-items: space-evenly     
  font-family: 'Roboto Mono', monospace
  .leftroundedaccent
    border-radius: 0% 40vh 40vh 0%
    background-color: #305a52
    background-image: $topography-background
    min-height: 40vh
    max-width: 50vw
    margin-top: 50px
    .myname
      color: $base-color-light
      font-size: 200px
      display: flex
      flex-direction: column
      align-items: flex-start
      justify-content: center
      .firstlast
        margin: 5px 20px 5px
  .rightroundedaccent
    align-self: flex-end
    border-radius: 40vh 0 0 40vh
    background-color: #305a52
    background-image: $topography-background
    min-height: 40vh
    min-width: 100vw
    margin-top: 50px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center 
    .aboutme
      max-hieght: 40vh
      max-width: 70vh
      font-size: 25px


.navbar 
  display: flex
  flex-direction: row
  justify-content: space-evenly
  align-items: flex-end
  padding: 0rem
  min-height: 0vh
  min-width: 100vw
  color: #C5C6C7
  font-size: larger
  .link
    text-decoration: none
    color: $base-color-light
  .active
    text-decoration: underline $primary-color solid 5px
    color: $base-color-light
